.card {
  width: 100%;
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
  align-items: stretch;
  flex-direction: column;
  display: flex;
}

.button {
  margin-top: 30px;
  font: inherit;
  border: 1px solid #25353f;
  background: #25353f;
  color: white;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
}

.listMaterials {
  margin-top: 30px;
  border: 1px solid #4b81a5;
  background: #4b81a5;
  color: white;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
}
